<section class="section about js-about">
  <div class="section__row">
    <div class="section__col section__col--txt">
      <div class="section__static-left js-about__txt">
        <h2 class="section__title">About me</h2><!-- /.section__title -->
        <p class="section__desc">
          FrontEnd Developer <br>
          Digital Designer
        </p>
        <p>I've been in the web business for over a decade now. Coming from design background I really feel best when coding UI and taking care of UX. Always looking for a new challenge.</p>
      </div><!-- /.section__static-left js-about__txt -->
    </div><!-- /.section__col -->

    <div class="section__col">
      <div class="section__static-right about__fractal js-fractal-wrap">
        <canvas id="fractal"></canvas><!-- /#fractal -->
      </div><!-- /.section__static-right js-fractal-wrap -->
    </div><!-- /.section__col -->
  </div><!-- /.section__row -->
</section><!-- /.section about -->

