<section class="section contact js-contact">
  <div class="section__row">
    <div class="section__col section__col--txt">
      <h2 class="section__title">Contact</h2><!-- /.section__title -->
      <p class="section__desc">Lets have a chat</p>
      <p>I'm always interested in talking to other creatives or to pick a new challenge. Feel free to drop me a line or two.</p>
      <p>
        <div class="contact__detail">@@include('../assets/images/mail.svg') info@codeiner.com</div><!-- /.contact__detail -->
        <div class="contact__detail">@@include('../assets/images/skype.svg') lsdsigns@hotmail.com</div><!-- /.contact__detail -->
        <div class="contact__detail">@@include('../assets/images/phone.svg') (0048) 733 429 048</div><!-- /.contact__detail -->
      </p>
    </div><!-- /.section__col -->

    <div class="section__col">
      <div id="map" class="map"></div>
    </div><!-- /.section__col -->
  </div><!-- /.section__row -->
</section><!-- /.section contact -->
