<section class="section intro js-intro is-active">
  <div class="section__row">
    <div class="intro__desc-holder">
      <p class="intro__desc">
        <span class="intro__head" data-text="They call me Maki">They call me Maki</span> <br>
        <span class="intro__text">They pay me for giving a shit</span> <br>
        <a href="javascript:void(0);" class="btn intro__btn">See some of my projects</a>
      </p><!-- /.intro__desc -->
    </div><!-- /.intro__desc-holder -->
  </div><!-- /.section__row -->
</section><!-- /.section intro -->
