<nav class="navigation js-navigation" role="navigation">
  <ul class="navigation__list">
    <li class="navigation__item">
      <a class="navigation__link is-active" href="javascript:void(0);" title="Intro" rel="bookmark" data-section=".js-intro">
        Intro
      </a><!-- /.navigation__link -->
    </li><!-- /.navigation__item -->
    <li class="navigation__item">
      <a class="navigation__link" href="javascript:void(0);" title="Showcase" rel="bookmark" data-section=".js-showcase">
        Showcase
      </a><!-- /.navigation__link -->
    </li><!-- /.navigation__item -->
    <li class="navigation__item">
      <a class="navigation__link" href="javascript:void(0);" title="About" rel="bookmark" data-section=".js-about">
        About
      </a><!-- /.navigation__link -->
    </li><!-- /.navigation__item -->
    <li class="navigation__item">
      <a class="navigation__link" href="javascript:void(0);" title="Contact" rel="bookmark" data-section=".js-contact">
        Contact
      </a><!-- /.navigation__link -->
    </li><!-- /.navigation__item -->
  </ul><!-- /.navigation__list -->
</nav><!-- /.navigation -->
