<section class="section showcase js-showcase">
  <div class="section__row">
    <div class="section__col section__col--txt">
      <div class="section__static-left js-showcase__txt">
        <h2 class="section__title">Showcase</h2><!-- /.section__title -->
        <p class="section__desc">Get a feeling of what I do</p>
        <p>I've been working with big format clients from a space, music and tech industry as well as gov agencies. Freelancing, agencies, startups, own initiatives - tried it all with the same smile on my face.</p>
      </div><!-- /.section__static-left js-showcase__txt -->
    </div><!-- /.section__col -->
    <div class="section__col js-showcase__projects">
      <div class="showcase__projects">
        <div class="showcase__project showcase__project--1 js-showcase__project">
          <a href="javascript:void(0);" rel="bookmark" style="background-image: url('assets/images/jupiter-preview.jpg');"></a>
        </div><!-- /.showcase__project showcase__project-1 -->
        <div class="showcase__project showcase__project--2 js-showcase__project">
          <a href="javascript:void(0);" rel="bookmark" style="background-image: url('assets/images/czarcie-preview.jpg');"></a>
        </div><!-- /.showcase__project showcase__project-2 -->
        <div class="showcase__project showcase__project--3 js-showcase__project">
          <a href="javascript:void(0);" rel="bookmark" style="background-image: url('assets/images/czarcie-preview.jpg');"></a>
        </div><!-- /.showcase__project showcase__project-3 -->
        <div class="showcase__project showcase__project--4 js-showcase__project">
          <a href="javascript:void(0);" rel="bookmark" style="background-image: url('assets/images/behemoth-preview.jpg');"></a>
        </div><!-- /.showcase__project showcase__project-4 -->
      </div><!-- /.showcase__projects -->
    </div><!-- /.section__col -->
  </div><!-- /.section__row -->
</section><!-- /.section showcase -->
