.contact {

  &__detail {
    padding: 0.3rem;
  }

  // Refactor section into section, duh!
  .section__col--txt {
    height: 100vh;
    padding: 16rem 12rem 16rem 20rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    background: rgb(0,0,0);

    > * {
      width: 100%;
      max-width: 50rem;
      margin: 0 auto;
    }
  }

  .section__title {
    margin-bottom: 3rem;
  }

  svg {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.5rem;
    vertical-align: middle;
    transform: translateY(-15%);
  }
}
